<div class="mt-4">
    <div class="list-group">
        <a href="{{ url_for('dashboard') }}" class="list-group-item list-group-item-action" aria-current="true">
            <i class="fas fa-tachometer-alt"></i> Dashboard
        </a>
        <a href="{{ url_for('inventories') }}" class="list-group-item list-group-item-action">
            <i class="fas fa-dolly-flatbed"></i> Inventories
        </a>
        <a href="{{ url_for('stock') }}" class="list-group-item list-group-item-action">
            <i class="fas fa-dolly-flatbed"></i> Stock
        </a>
        <a href="{{ url_for('sales') }}" class="list-group-item list-group-item-action">
            <i class="fas fa-coins"></i> Sales
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="fas fa-user-alt"></i> Users
        </a>
        
      </div>
</div>
