{% extends 'base.html' %}

{% block pageTitle %}Home - Inventory Management System{% endblock  %}

{% block cssLinks %}{% endblock %}

{% block content %}

<section class="showcase mt-5">
    <div class="container grid">
        <div class="showcase-text">
            <h2>Manage Your Inventory, Stock & Sale</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Iste, architecto, sed quod magnam velit labore doloremque facilis 
                soluta sapiente optio doloribus aspernatur harum enim nihil incidunt
                 itaque molestias?
            </p>
        </div>

        <div class="showcase-image">
            <img src="/static/img/inventory-management.png" alt="inventory">
        </div>
    </div>
</section>

{% endblock %}


{% block jsLinks %}{% endblock %}